<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Smart SlideDeck Skin - Titles</title>

		<script type="text/javascript" src="jquery-1.3.2.min.js"></script>
		
		<link rel="stylesheet" type="text/css" href="skin.css" media="screen,handheld" />
        <!-- Styles for the skin that only load for Internet Explorer -->
        <!--[if IE]>
        <link rel="stylesheet" type="text/css" href="slidedeck.skin.ie.css" media="screen,handheld" />
        <![endif]-->
		
		<script type="text/javascript" src="slidedeck.jquery.lite.pack.js"></script>
        
	</head>
<body>
    <div class="slidedeck_frame skin-light">
        <dl class="slidedeck" id="smart_slidedeck">
            <dt>Proin luctus arcu ut metus</dt>
            <dd class="slide">
                <div class="sd-node sd-node-container">
                    <div class="sd-node sd-node-content">
                        <div class="sd-node sd-node-title">
                            <a href="#" target="_blank">Proin luctus arcu ut metus</a>
                        </div>
                        <div class="sd-node sd-node-date">Dec 4th</div>
                        <div class="sd-node sd-node-timesince">Posted 5 hours ago</div>
                        <div class="sd-node sd-node-excerpt">
                            <p>Duis eu felis et diam euismod venenatis et id lacus. Maecenas ligula magna, tincidunt et interdum sed, molestie semper diam. Curabitur semper massa nec ante hendrerit sit amet eleifend lorem eleifend. Nullam convallis nullam.</p>
                        </div>
                        <div class="sd-node sd-node-permalink"><a href="#" target="_blank">Read More</a></div>
                    </div>
                    <div class="sd-node sd-node-image">
                        <div class="sd-node sd-node-image-child">
                            <a href="#" target="_blank">
                                <img height="223" width="270" alt="Sample Image" src="black_336x280.gif" />
                            </a>
                        </div>
                    </div>
                </div>
            </dd>
            <dt>Donec vel nisl ornare amet</dt>
            <dd class="slide">
                <div class="sd-node sd-node-container">
                    <div class="sd-node sd-node-content">
                        <div class="sd-node sd-node-title">
                            <a href="#" target="_blank">Donec vel nisl ornare amet</a>
                        </div>
                        <div class="sd-node sd-node-date">Dec 7th</div>
                        <div class="sd-node sd-node-timesince">Posted 5 hours ago</div>
                        <div class="sd-node sd-node-excerpt">
                            <p>Nam accumsan lectus non urna pellentesque nec facilisis ipsum interdum. Curabitur viverra, elit in ornare facilisis, erat quam adipiscing leo, ultricies dignissim sapien lectus id erat. Sed tempus mattis justo, eu auctor risus ullamcorper vel. In eu facilisis massa. Maecenas nec enim a lectus aliquet vulputate. Proin tempus libero a quam suscipit congue. Vestibulum lorem nisl, sagittis vitae amet.</p>
                        </div>
                        <div class="sd-node sd-node-permalink"><a href="#" target="_blank">Read More</a></div>
                    </div>
                    <div class="sd-node sd-node-image">
                        <div class="sd-node sd-node-image-child">
                            <a href="#" target="_blank">
                                <img height="223" width="270" alt="Sample Image" src="black_336x280.gif" />
                            </a>
                        </div>
                    </div>
                </div>
            </dd>
            <dt>Quisque est ante cras amet</dt>
            <dd class="slide">
                <div class="sd-node sd-node-container">
                    <div class="sd-node sd-node-content">
                        <div class="sd-node sd-node-title">
                            <a href="#" target="_blank">Quisque est ante cras amet</a>
                        </div>
                        <div class="sd-node sd-node-date">Dec 12th</div>
                        <div class="sd-node sd-node-timesince">Posted 5 hours ago</div>
                        <div class="sd-node sd-node-excerpt">
                            <p>Phasellus congue tincidunt neque, at tempor urna eleifend et. Vivamus purus sapien, consequat id sollicitudin eu, tincidunt vitae elit. Vivamus imperdiet urna mollis massa lacinia eget pulvinar nulla sollicitudin. Curabitur lacinia tincidunt odio, nec venenatis justo consequat et. Vestibulum aliquet adipiscing sapien, ut feugiat mi euismod consequat. Curabitur bibendum, lectus accumsan vehicula condimentum, lacus metus lacinia urna, eget volutpat dolor nisl laoreet dui. Sed sit amet enim vitae risus pellentesque ullamcorper. Sed iaculis nibh eget enim tempor vehicula. Aenean lorem ligula, pharetra ac varius eget, dictum tempor lectus. Morbi lacinia turpis in nunc posuere suscipit. Nam lacus nisl, pellentesque et pretium ut, vulputate metus.</p>
                        </div>
                        <div class="sd-node sd-node-permalink"><a href="#" target="_blank">Read More</a></div>
                    </div>
                </div>
            </dd>
            <dt>Sed vitae nulla massa amet</dt>
            <dd class="slide">
                <div class="sd-node sd-node-container">
                    <div class="sd-node sd-node-content">
                        <div class="sd-node sd-node-title">
                            <a href="#" target="_blank">Sed vitae nulla massa amet</a>
                        </div>
                        <div class="sd-node sd-node-date">Dec 18th</div>
                        <div class="sd-node sd-node-timesince">Posted 5 hours ago</div>
                        <div class="sd-node sd-node-excerpt">
                            <p>Duis vitae adipiscing nisi. Sed vitae dui vel velit ullamcorper fermentum. Curabitur ut massa libero, vel sodales augue. Quisque eros metus, porta et sollicitudin vel, varius vitae dolor. Donec velit nulla, rhoncus ac tincidunt a, auctor eu lorem. Vivamus tincidunt nisi eu erat luctus et massa nunc.</p>
                        </div>
                        <div class="sd-node sd-node-permalink"><a href="#" target="_blank">Read More</a></div>
                    </div>
                    <div class="sd-node sd-node-image">
                        <div class="sd-node sd-node-image-child">
                            <a href="#" target="_blank">
                                <img height="223" width="270" alt="Sample Image" src="grey_336x280.gif" />
                            </a>
                        </div>
                    </div>
                </div>
            </dd>
            <dt>Nam rutrum semper volutpat</dt>
            <dd class="slide">
                <div class="sd-node sd-node-container">
                    <div class="sd-node sd-node-content">
                        <div class="sd-node sd-node-title">
                            <a href="#" target="_blank">Nam rutrum semper volutpat</a>
                        </div>
                        <div class="sd-node sd-node-date">Dec 19th</div>
                        <div class="sd-node sd-node-timesince">Posted 5 hours ago</div>
                        <div class="sd-node sd-node-excerpt">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at augue ipsum. Nam consectetur tempus iaculis. Donec eu felis elit, vel pretium nisl. Nullam nisi nisi, convallis vel eleifend sit amet, fringilla sit amet urna. Nulla lorem mi, commodo quis vehicula congue, interdum sit amet risus metus.</p>
                        </div>
                        <div class="sd-node sd-node-permalink"><a href="#" target="_blank">Read More</a></div>
                    </div>
                    <div class="sd-node sd-node-image">
                        <div class="sd-node sd-node-image-child">
                            <a href="#" target="_blank">
                                <img height="223" width="270" alt="Sample Image" src="white_336x280.gif" />
                            </a>
                        </div>
                    </div>
                </div>
            </dd>
        </dl>
        
        <a class="sd-node sd-node-nav-link sd-node-previous" href="#previous" target="_blank">Previous</a><a class="sd-node sd-node-nav-link sd-node-next" href="#next" target="_blank">Next</a>
        <!-- 
        Use these callsses on the below UL for the various types of navigation.
        Note that for post-titles, the maximum number of slides is 5.
        
        class="sd-node sd-node-nav sd-node-nav-primary sd-node-navigation-type-post-titles"
        class="sd-node sd-node-nav sd-node-nav-primary sd-node-navigation-type-dates"
        class="sd-node sd-node-nav sd-node-nav-primary sd-node-navigation-type-simple-dots"
         -->
        <ul class="sd-node sd-node-nav sd-node-nav-primary sd-node-navigation-type-post-titles"></ul>
    </div>
    <script type="text/javascript">jQuery( '#smart_slidedeck' ).css({width:'960px',height:'370px'}).slidedeck( {"speed":500,"start":1,"autoPlay":true,"autoPlayInterval":5000,"cycle":true,"hideSpines":true} );</script>
    <script type="text/javascript" src="skin.js"></script>
</body>
</html>